* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: "Space";
  src: url('./contents/SPACE\ EXPLORER.ttf');
}


body {
  background: radial-gradient(ellipse at bottom, #283a4f 0%, #090a0f 100%);
  font-family: Helvetica, sans-serif;
  overflow: hidden;
  height: 100dvh;
  letter-spacing: 2px;
  /* background-image: url('bg.jpg'); */
}

.bg-star{
    position: relative;
    width: 100vw;
    height: 60vh;
    transform: rotateZ(45deg);
}   

.star {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ffffff80;
    border-radius: 50%;
    animation: shooting 3s linear, tail 3s linear;
    /* box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1);
    filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1)); */
}

.star:before {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    /* width: 30px; */
    height: 1px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #fff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining 3s ease-in-out infinite;
}

.star:after {   
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    /* width: 30px; */
    height: 1px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #fff, rgba(0, 0, 255, 0));    
    transform: translateX(50%) rotateZ(-45deg);
    border-radius: 100%;
    animation: shining 3s ease-in-out infinite;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 15vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar .button {
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: white;
  width: 80%;
  padding: 8px;
  border-radius: 5px;
  margin: 10px 0;
  overflow: hidden;
}

.navbar .button:nth-child(4) {
  color: chocolate;
}

.navbar .button:nth-child(4)::after {
  background-color: rgba(210, 105, 30, 0.50);
}

.navbar .button:hover {
  cursor: pointer;
}

.navbar .button::after{
  content: ''; 
  position: absolute;
  width: 65px;
  height: 100%;
  background-color: #ffffff50;
  transform: translateX(-90px) skewX(25deg);
  transition: 0.8s ease-in-out;
}

.navbar .button:hover::after {
  transform: translateX(15rem) skewX(25deg);
}

.navbar .button i {
  margin: 0 20px;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 15vw;
  width: 85vw;
  height: 100vh;
  background-color: rgba(4, 61, 61, 0.149);
}

.in-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 85vw;
  height: 100%;
  opacity: 0;
  
}

.in-landing > div {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  border-radius: 15px;
  background-color: rgba(255,255,255,0.05);
  backdrop-filter: blur(5px);
  z-index: 10;
}

.current {
  opacity: 1;
  animation: slidein 1s ease;
  z-index: 20;
}

.last {
  opacity: 1;
  animation: slideout 1s ease;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.page #name {
  padding: 20px;
  color: aliceblue;
}

.page #main {
  width: 20rem;
  height: 20rem;
  border: 10px solid #000e3862;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  box-shadow: 0 0 20px rgb(48, 46, 77);
  animation: circleshape 8s infinite;
}

.logo {
  width: 100%;
}

.logo img {
  position: absolute;
  width: 100%;
  top:0;
}

.droits {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.grid > h1 {
  position: relative;
  font-size: clamp(0.5rem, 1rem + 1vw , 3rem);
  color: aliceblue;
}

.grid > h1::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 5px;
  background-color: aliceblue;
  left: 0;
  margin-top: clamp(1rem, 1.5rem + 1vw , 3.5rem);
  transform: skewX(-45deg);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}

.circle img {
  width: 30px;
  height: 30px;
}

.tech {
  display: flex;
  margin-bottom: 75px;
}

#jobsentence {
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: white;
  font-size: clamp(3rem, 4rem + 10vw, 6rem);
  padding: 8px;
  border-radius: 5px;
  margin: 10px 0;
  overflow: hidden;
}


.transition {
  /* width: 100%; */
  height: 100%;
  transform: translateX(0px);
  transition: 1s all;
  overflow: hidden;
}

.transition::after {
  position: absolute;
  content: '';
  width: 200%;
  height: 100%;
  background-color: aqua;
  animation: shooting 2.5s linear;
  opacity: 1 !important;
}

.hidden {
  animation: dropoutin 2.5s;
}

.details-center {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
  margin-top: 25px;
}

.details-center div {
  display: flex;
}

.details-start {
  color: aliceblue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 90%;
  /* margin-top: 25px; */
  padding: 25px;
}

/* .details-start span {
  width: 50%;
} */

.reseaux {
  margin-top: 20px;
}


button {
  background: #426184;
  border-radius: 999px;
  box-shadow: #426184 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin: 10px;
}

.info {
  width: 100%;
  height: 90%;
}

.contenu {
  width: 100%;
  height: 100%;
}

.contenu-details {
  position: absolute;
  width: 90%;
  height: 80%;
  display: flex;
  opacity: 0;
  transition: all 1s;
  z-index: 9;
}

.current-detail {
  opacity: 1;
  z-index: 19;
}

#i1 {
  justify-content: space-between;
}

/* #i1 img {
  width: clamp(200px, 4vw, 45vw);
  height: clamp(400px, 8vw, 90vw);
  margin-right: 100px;
} */

:is(#i1, #i2) .grid {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

iframe {
  width: 90%;
  height: 70%;
}

#cv {
  width: 50%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.selection {
  display: flex;
  justify-content: center;
  width: 100%;

}

#i2 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 60%;
  margin-top: 40px;
}

.perso {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.info2 {
  width: 50%;
}

.info2 a {
  text-decoration: none;
  color: aliceblue;
}

.info2 p {
  border-bottom: 1px solid #e8dfec;
  font-weight: 700;
  padding: 10px 0;
  font-size: 16px;
  margin: 10px;
}

.info2 p span {
  font-weight: 300;
  margin-top: 4px;
  display: inline-block;
}

@keyframes tail {
    0% {
      width: 0;
    }
    
    50% {
      width: 250px;
    }
    
    100% {
      width: 0;
    }
  }
  
  @keyframes shining {
    0% {
      width: 0;
    }
    
    20% {
      width: 20px;
    }
    
    100% {
      width: 0;
    }
  }
  
  @keyframes shooting {
    0% {
      transform: translateX(-200%);
    }
    
    100% {
      
      transform: translateX(700px);
    }
  }

@keyframes slidein {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideout {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes dropoutin {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes circleshape {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 80% 40%;
  }
  50% {
      border-radius: 30% 80% 70% 40%/50% 60% 30% 60%;
  }

  100% {
      border-radius: 60% 40% 30% 70%/60% 30% 80% 40%;
  }
}